:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

@media screen and (min-width: 1080px) {
    .app-container {
        display: flex;
        flex-direction: row;
        width: fit-content;
    }

    .nav {
        min-width: 15rem;
        height: 100%;
        padding-right: 0.2rem;
    }

    .photo-handling-card {
        margin-bottom: 0.5rem;
    }

    .datepicker-container {
        margin-bottom: 2rem;
    }

    #image-container {
        padding-left: 0.2rem;
    }

    .photo {
        width: 800px;
        height: 533px;
    }
}

@media screen and (orientation: portrait) and (max-width: 1080px) {
    .app-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 0.75rem;
    }

    #dropdowns {
        flex-grow: 1;
        margin-right: 0.75rem;
    }

    #buttons {
        flex-grow: 0;
    }

    .date-nav {
        display: flex;
        flex-direction: row;
    }

    .datepicker-container {
        margin-right: 1.5rem;
    }
}

@media screen and (orientation: landscape) and (max-width: 1000px) {
    .app-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .nav {
        width: 25%;
    }

    #buttons {
        margin-bottom: 0.75rem;
    }

    .datepicker-container {
        margin-bottom: 1.5rem;
    }

    #image-container {
        width: 75%;
        padding-left: 0.75rem;
    }

    .photo {
        width: 400px;
        height: 266px;
    }
}

@media screen and (orientation: landscape) and (max-width: 992px) {
    .photo {
        width: 300px;
        height: 200px;
    }
}

.portfolio-thumb {
    height: 8rem;
    min-width: 3rem;
    margin: 0.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-container {
    display: flex;
    justify-content: center;
}

.photo-handling {
    display: flex;
    flex-direction: row;
}

.nav-buttons {
    flex-grow: 1;
    padding-right: 2rem;
}

.logout-button {
    flex-shrink: 1;
}

.nav-button {
    width: 100%;
}

#portfolio-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.photo {
    display: flex;
    align-content: center;
    justify-content: center;
}

.photo-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#photo-nav-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#photo-del-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#rating-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.full-width {
    width: 100%;
}

.login-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30vh;
    height: 20vh;
}