:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.root {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#date-nav-container {
    min-width: 15rem;
    height: 100%;
    padding-right: 0.2rem;
}

.datepicker-container {
    margin-bottom: 2rem;
}

#image-container {
    padding-left: 0.2rem;
}

.photo {
    width: 800px;
    height: 533px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#photo-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#photo-del-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}